{% extends 'base.html.twig' %}

{% block title %}Pilote index{% endblock %}

{% block body %}
    <h1>Pilote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pilote in pilotes %}
            <tr>
                <td>{{ pilote.id }}</td>
                <td>{{ pilote.name }}</td>
                <td>{{ pilote.description }}</td>
                <td>
                    <a href="{{ path('app_pilote_show', {'id': pilote.id}) }}">show</a>
                    <a href="{{ path('app_pilote_edit', {'id': pilote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pilote_new') }}">Create new</a>
{% endblock %}
